@import "tailwindcss";

:root {
  --background: #f3f4f6;
  --foreground: #101828;
  --background-second: #eeeeef;
  --secondary-color: #364153;
  --tertiary-color: #99a1af;
}

.dark {
  --background: #101828; /* opposite of light bg */
  --background-second: #131c2f;
  --foreground: #f3f4f6; /* opposite of dark text */
  --secondary-color: #c7cdd8; /* softened inverse of #364153 */
  --tertiary-color: #4a515c; /* deeper counterpart to #99a1af */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
